<section id="mission" class="section">
	<h1 class="section-title">Mission</h1>
	<div class="section-container">
		<div class="container">
			<p class="text-center mb-0">We believe advertising should power meaningful conversations in a simple,<br /> transparent, and actionable way. The AdHash Protocol cuts the<br /> dead weight from the digital ad ecosystem to bring<br /> efficiency, trust, and control.</p>
		</div>
		<div class="section-half-circle">
			<div class="bi-lg"></div>
			<div class="half-circle-border"></div>
		</div>
	</div>
</section>