<section id="solutions" class="section">
	<div class="section-container" id="client-bar">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<a href="https://adhash.org" target="_blank">
						<img src="<?php echo SITE_URL; ?>/static/images/client-logos/AdHash-logo.png" alt="AdHash logo" />
					</a>
				</div>
				<div class="col-sm">
					<a href="https://www.dominos.bg" target="_blank">
						<img src="<?php echo SITE_URL; ?>/static/images/client-logos/dominos-logo.png" alt="Dominos logo" />
					</a>
				</div>
				<div class="col-sm">
					<a href="https://www.gorenje.bg" target="_blank">
						<img src="<?php echo SITE_URL; ?>/static/images/client-logos/gorenje-logo.png" alt="Gorenje logo" />
					</a>
				</div>
				<div class="col-sm">
					<a href="https://www.miele.bg" target="_blank">
						<img src="<?php echo SITE_URL; ?>/static/images/client-logos/miele-logo.png" alt="Miele logo" />
					</a>
				</div>
				<div class="col-sm">
					<a href="https://tehnomix.bg" target="_blank">
						<img src="<?php echo SITE_URL; ?>/static/images/client-logos/tehnomix-logo.png" alt="Tehnomix logo" />
					</a>
				</div>
			</div>
		</div>
	</div>
</section>