<section id="adhash-dashboard" class="section full-page">
	<header class="section-header">
		<h1 class="section-title">What We Do</h1>
	</header>
	<div class="section-container">
	
		<div class="container mb-5">
			<div class="row">
				<div class="col-6">
					<h2 class="adhash-dashboard-title">Visual comparison</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, ducimus. Laboriosam, ducimus quaerat. Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam? Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam? Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam?</p>
					<div class="col align-self-end">
						<a href="#" class="btn btn-primary float-right">Button</a>
					</div>
				</div>
				<div id="" class="col-6">
					<img class="" src="<?php echo SITE_URL; ?>/static/images/Automation_v2_placeholder.png" alt="BugLab Automation" width="100%"/>
				</div>
			</div>
		</div>
		
		<div class="container mb-5">
			<div class="row">
				<div id="" class="col-6">
					<img class="" src="<?php echo SITE_URL; ?>/static/images/Automation_v2_placeholder.png" alt="BugLab Automation" width="100%"/>
				</div>
				<div class="col-6">
					<h2 class="adhash-dashboard-title">Cross-browser testing</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, ducimus. Laboriosam, ducimus quaerat. Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam? Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam? Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam?</p>
					<!-- <div class="col"> -->
						<a href="#" class="btn btn-primary float-left">Button</a>
					<!-- </div> -->
				</div>
			</div>
		</div>
		
		<div class="container mb-5">
			<div class="row">
				<div class="col-6">
					<h2 class="adhash-dashboard-title">Automation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, ducimus. Laboriosam, ducimus quaerat. Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam? Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam? Alias, corrupti? Mollitia voluptas porro voluptates quo, veritatis sit quaerat sunt iusto ipsam? Itaque quos aspernatur ipsam?</p>
					<div class="col align-self-end">
						<a href="#" class="btn btn-primary float-right">Button</a>
					</div>
				</div>
				<div id="" class="col-6">
					<img class="" src="<?php echo SITE_URL; ?>/static/images/Automation_v2_placeholder.png" alt="BugLab Automation" width="100%"/>
				</div>
			</div>
		</div>
		

	</div>
</section>