<section id="careers" class="section full-page single-page">
	<header class="section-header parallax">
		<div class="section-header-group text-center">
			<h1 class="section-title">Careers</h1>
		</div>
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/careers.png" alt="Careers" class="mb-0 d-none d-md-block" />
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/careers-mobile.png" alt="Careers" class="d-md-none" />
	</header>
	<div class="section-container">
		<div class="container">
			<div class="row last panel-desktop-mobile">
				<div class="col-auto panel-desktop">
					<div class="list-group" role="tablist">
						<div class="list-group-item active" role="tab" data-target="#desktop-senior-php-developer" data-toggle="tab">
							Senior PHP developer
						</div>
						<div class="list-group-item" role="tab" data-target="#desktop-senior-designer" data-toggle="tab">
							Senior designer
						</div>
						<div class="list-group-item" role="tab" data-target="#desktop-quality-assurance-engineer" data-toggle="tab">
							Quality assurance engineer
						</div>
						<div class="list-group-item" role="tab" data-target="#desktop-devops-engineer" data-toggle="tab">
							DevOps engineer
						</div>
						<div class="list-group-item" role="tab" data-target="#desktop-senior-system-administrator" data-toggle="tab">
							Senior system administrator
						</div>
						<div class="list-group-item" role="tab" data-target="#desktop-data-analyst" data-toggle="tab">
							Data analyst
						</div>
					</div>
				</div>
				<div class="col panel-mobile">
					<div id="accordion-careers-themes" class="tab-content">
						<div id="desktop-senior-php-developer" class="panel panel-main tab-pane active show">
							<div class="panel-heading">
								<div class="panel-title">
									<a class="collapsed" href="#senior-php-developer" data-toggle="collapse">
										Senior PHP Developer
									</a>
									<i class="plus-minus-rotate no-hover" role="link" data-target="#senior-php-developer" data-toggle="collapse"></i>
								</div>
							</div>
							<div id="senior-php-developer" class="panel-body panel-collapse collapse" data-parent="#accordion-careers-themes">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading career-heading">
											<h2 class="panel-title">Senior PHP developer</h2>
										</div>
										<div class="panel-body">
											<p>Interested in helping us change the advertising world forever? This is a great opportunity for the right person to join our team and become deeply involved in developing the AdHash Protocol and its identity.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Requirements:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Detail oriented and highly organised with excellent time management skills.</li>
												<li>Ability to multitask in a fast-paced, deadline-driven environment.</li>
												<li>Positive attitude and readiness to tackle new and challenging projects.</li>
												<li>Significant experience with both front-end and back-end web development (PHP, MySQL, HTML, CSS, Ajax, JavaScript, jQuery, etc.).</li>
												<li>Solid experience with object oriented PHP development and MVC.</li>
												<li>Solid English skills, both written and oral.</li>
												<li>Experience with cPanel, WHM.</li>
												<li>Experience with version control.</li>
												<li>Develop a solid understanding of the real-time bidding space and AdHash's take on it.</li>
												<li>Become deeply familiard with existing blockchain technologies as well as their future research and advancements.</li>
												<li>A portfolio of past projects.</li>
												<li>A desire to constantly improve as a professional and stay on top of the cutting edge technologies.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Really nice to haves:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Excited to work in a dynamic startup environment.</li>
												<li>Contagious energy and a passion for everything you do.</li>
												<li>Ability to work both independently and as a part of a team.</li>
												<li>Proficiency in interaction with a wide variety of APIs.</li>
												<li>See something, say something attitude - when you have a really great idea or a really important question, don't keep it to yourself.</li>
												<li>Ability to turn pressure into a calm and collected game plan.</li>
												<li>A bit more goal oriented than process oriented mindset.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">About AdHash:</h3>
										</div>
										<div class="panel-body">
											<p>AdHash is a decentralised ad ecosystem which offers an entirely new framework for trading digital advertising. We believe advertising should power meaningful conversations in a simple, transparent, and actionable way. AdHash cuts the dead weight from the digital ad ecosystem to bring efficiency, trust, and control.<br/> AdHash rebuilds the real-time bidding protocol from the ground up, combining first-party ad hosting and Unique Hash IDs to eliminate the majority of ad fraud attack vectors and deliver complete transparency and control to advertisers, publishers, and users.</p>
										</div>
									</div>
								</div>
								<a href="<?php echo SITE_URL; ?>/site/careers/senior-php-developer.html" target="_blank" class="btn btn-primary apply form-page-open">
									<span>Apply</span>
								</a>
							</div>
						</div>
						<div id="desktop-senior-designer" class="panel panel-main tab-pane">
							<div class="panel-heading">
								<div class="panel-title">
									<a class="collapsed" href="#senior-designer" data-toggle="collapse">
										Senior designer
									</a>
									<i class="plus-minus-rotate no-hover" role="link" data-target="#senior-designer" data-toggle="collapse"></i>
								</div>
							</div>
							<div id="senior-designer" class="panel-body panel-collapse collapse" data-parent="#accordion-careers-themes">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading career-heading">
											<h2 class="panel-title">Senior designer</h2>
										</div>
										<div class="panel-body">
											<p>Interested in helping us change the advertising world forever? This is a great opportunity for the right person to join our team and become deeply involved in developing the AdHash Protocol and its identity.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Candidates would be expected to:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Show great attention to details.</li>
												<li>Continue developing and improving the design and identity of AdHash, its Server-Side Platforms and all its services.</li>
												<li>Impress us with their portfolio.</li>
												<li>Be versed in UI and love delievering the best UX possible.</li>
												<li>Contribute to the team synergy and coordinate tasks with the relevant departments.</li>
												<li>Be prepared to learn a lot and develop an in-depth understanding of ad tech and real-time bidding in particular.</li>
												<li>Be able to communicate freely in English.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Really nice to haves:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Excited to work in a dynamic startup environment.</li>
												<li>Ability to work both independently and as a part of a team.</li>
												<li>See something, say something attitude - when you have a really great idea or a really important question, don't keep it to yourself.</li>
												<li>Ability to turn pressure into a calm and collected game plan.</li>
												<li>A bit more goal oriented than process oriented mindset.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">About AdHash:</h3>
										</div>
										<div class="panel-body">
											<p>AdHash is a decentralised ad ecosystem which offers an entirely new framework for trading digital advertising. We believe advertising should power meaningful conversations in a simple, transparent, and actionable way. AdHash cuts the dead weight from the digital ad ecosystem to bring efficiency, trust, and control.<br/> AdHash rebuilds the real-time bidding protocol from the ground up, combining first-party ad hosting and Unique Hash IDs to eliminate the majority of ad fraud attack vectors and deliver complete transparency and control to advertisers, publishers, and users.</p>
										</div>
									</div>
								</div>
								<a href="<?php echo SITE_URL; ?>/site/careers/senior-designer.html" target="_blank" class="btn btn-primary apply form-page-open">
									<span>Apply</span>
								</a>
							</div>
						</div>
						<div id="desktop-quality-assurance-engineer" class="panel panel-main tab-pane">
							<div class="panel-heading">
								<div class="panel-title">
									<a class="collapsed" href="#quality-assurance-engineer" data-toggle="collapse">
										Quality assurance engineer
									</a>
									<i class="plus-minus-rotate no-hover" role="link" data-target="#quality-assurance-engineer" data-toggle="collapse"></i>
								</div>
							</div>
							<div id="quality-assurance-engineer" class="panel-body panel-collapse collapse" data-parent="#accordion-careers-themes">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading career-heading">
											<h2 class="panel-title">Quality assurance engineer</h2>
										</div>
										<div class="panel-body">
											<p>Interested in helping us change the advertising world forever? This is a great opportunity for a passionate QA engineer to join our team and become deeply involved in the technology and processes behind the AdHash Protocol.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Candidates would be expected to:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Have at least two years of commercial experience in testing web and client/server applications.</li>
												<li>Have professional experience in automated testing.</li>
												<li>Have experience in testing web applications across different platforms and browsers.</li>
												<li>Prepare and execute test cases.</li>
												<li>Have deep understanding of the best practices in creating system test scripts, test execution, and defect reporting.</li>
												<li>Present test analysis to the development team.</li>
												<li>Have professional experience using Selenium.</li>
												<li>Understand the following web technologies: HTTPS, SOAP, RESTful.</li>
												<li>Have an understanding of how good UX works and be prepared to suggest improvements.</li>
												<li>Show great attention to details.</li>
												<li>Show strong troubleshooting and root cause analysis skills.</li>
												<li>Be able to communicate freely in English.</li>
												<li>Contribute to the team synergy and coordinate tasks with the relevant departments.</li>
												<li>Participate in business development collaborations and contribute with valuable insights.</li>
												<li>Be prepared to learn a lot and develop an in-depth understanding of ad tech and real-time bidding in particular.</li>
												<li>A desire to constantly improve as a professional and stay on top of the cutting edge technologies.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Really nice to haves:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Excited to work in a dynamic startup environment.</li>
												<li>Ability to work both independently and as a part of a team.</li>
												<li>See something, say something attitude - when you have a really great idea or a really important question, don't keep it to yourself.</li>
												<li>Ability to turn pressure into a calm and collected game plan.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">About AdHash:</h3>
										</div>
										<div class="panel-body">
											<p>AdHash is a decentralised ad ecosystem which offers an entirely new framework for trading digital advertising. We believe advertising should power meaningful conversations in a simple, transparent, and actionable way. AdHash cuts the dead weight from the digital ad ecosystem to bring efficiency, trust, and control.<br/> AdHash rebuilds the real-time bidding protocol from the ground up, combining first-party ad hosting and Unique Hash IDs to eliminate the majority of ad fraud attack vectors and deliver complete transparency and control to advertisers, publishers, and users.</p>
										</div>
									</div>
								</div>
								<a href="<?php echo SITE_URL; ?>/site/careers/quality-assurance-engineer.html" target="_blank" class="btn btn-primary apply form-page-open">
									<span>Apply</span>
								</a>
							</div>
						</div>
						<div id="desktop-devops-engineer" class="panel panel-main tab-pane">
							<div class="panel-heading">
								<div class="panel-title">
									<a class="collapsed" href="#devops-engineer" data-toggle="collapse">
										DevOps engineer
									</a>
									<i class="plus-minus-rotate no-hover" role="link" data-target="#devops-engineer" data-toggle="collapse"></i>
								</div>
							</div>
							<div id="devops-engineer" class="panel-body panel-collapse collapse" data-parent="#accordion-careers-themes">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading career-heading">
											<h2 class="panel-title">DevOps engineer</h2>
										</div>
										<div class="panel-body">
											<p>Interested in helping us change the advertising world forever? This is a great opportunity for a passionate DevOps engineer to join our team and become deeply involved in the technology and processes behind the AdHash Protocol.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Candidates would be expected to:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Have at least two years of professional experience in DevOps.</li>
												<li>Architect, implement, configure, and maintain environments and processes that ensure reliable and efficient deployments.</li>
												<li>Collaborate closely with the development team.</li>
												<li>Create and configure cloud-based environments, services, and workflows.</li>
												<li>Create and implement security practices and policies.</li>
												<li>Aim for maximum system administration automation and speed by continuously researching and testing the latest technologies and tools.</li>
												<li>Provide support and services to the development teams and the wider business.</li>
												<li>Monitor, triage, and respond to alerts in our 24/7/365 environment.</li>
												<li>Show great attention to details.</li>
												<li>Show strong troubleshooting and root cause analysis skills.</li>
												<li>Be able to communicate freely in English.</li>
												<li>Contribute to the team synergy and coordinate tasks with the relevant departments.</li>
												<li>Participate in business development collaborations and contribute with valuable insights.</li>
												<li>Be prepared to learn a lot and develop an in-depth understanding of ad tech and real-time bidding in particular.</li>
												<li>Become deeply familiard with existing blockchain technologies as well as their future research and advancements.</li>
												<li>A desire to constantly improve as a professional and stay on top of the cutting edge technologies.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Really nice to haves:</h3>
										</div>
										<div class="panel-body">
											<ul class="arrow-gradient">
												<li>Excited to work in a dynamic startup environment.</li>
												<li>Professional experience in system administration.</li>
												<li>Knowledge of computer networking, TCP/UDP, distributed computing, web services and common internet protocols.</li>
												<li>Experience with AWS.</li>
												<li>Excellent knowledge of Linux.</li>
												<li>Experience with one or more build management tools such as Jenkins.</li>
												<li>Experience with version control.</li>
												<li>Strong infrastructure and application monitoring skills.</li>
												<li>Ability to work both independently and as a part of a team.</li>
												<li>See something, say something attitude - when you have a really great idea or a really important question, don't keep it to yourself.</li>
												<li>Ability to turn pressure into a calm and collected game plan.</li>
											</ul>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">About AdHash:</h3>
										</div>
										<div class="panel-body">
											<p>AdHash is a decentralised ad ecosystem which offers an entirely new framework for trading digital advertising. We believe advertising should power meaningful conversations in a simple, transparent, and actionable way. AdHash cuts the dead weight from the digital ad ecosystem to bring efficiency, trust, and control.<br/> AdHash rebuilds the real-time bidding protocol from the ground up, combining first-party ad hosting and Unique Hash IDs to eliminate the majority of ad fraud attack vectors and deliver complete transparency and control to advertisers, publishers, and users.</p>
										</div>
									</div>
								</div>
								<a href="<?php echo SITE_URL; ?>/site/careers/devops-engineer.html" target="_blank" class="btn btn-primary apply form-page-open">
									<span>Apply</span>
								</a>
							</div>
						</div>
						<div id="desktop-senior-system-administrator" class="panel panel-main tab-pane">
							<div class="panel-heading">
								<div class="panel-title">
									<a class="collapsed" href="#senior-system-administrator" data-toggle="collapse">
										Senior system administrator
									</a>
									<i class="plus-minus-rotate no-hover" role="link" data-target="#senior-system-administrator" data-toggle="collapse"></i>
								</div>
							</div>
							<div id="senior-system-administrator" class="panel-body panel-collapse collapse" data-parent="#accordion-careers-themes">
									<div class="panel-group">
										<div class="panel">
											<div class="panel-heading career-heading">
												<h2 class="panel-title">Senior system administrator</h2>
											</div>
											<div class="panel-body">
												<p>Interested in helping us change the advertising world forever? This is a great opportunity for a passionate senior system administrator to join our team and become deeply involved in the technology and processes behind the AdHash Protocol. Specifically, we are looking for the right person to help us release and scale the AdHash Cloud solution.</p>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">Candidates would be expected to:</h3>
											</div>
											<div class="panel-body">
												<ul class="arrow-gradient">
													<li>Have at least two years of professional experience in system administration.</li>
													<li>Configure and administer Ubuntu and CentOS environments.</li>
													<li>Collaborate closely with the development team.</li>
													<li>Create and configure cloud-based environments, services, and workflows.</li>
													<li>Focus strongly on security.</li>
													<li>Monitor, triage, and respond to alerts in our 24/7/365 environment.</li>
													<li>Solid experience in database administration.</li>
													<li>Have excellent knowledge in the following areas: IP, TCP/UDP, ARP, DHCP, DNS, Routing, VPN.</li>
													<li>Experience with network configuration and management - incl. Routers, Firewalls, VPN network solutions.</li>
													<li>Have professional experience with AWS.</li>
													<li>Aim for maximum system administration automation and speed by continuously researching and testing the latest technologies and tools.</li>
													<li>Solve mission-critical problems.</li>
													<li>Show strong troubleshooting and root cause analysis skills.</li>
													<li>Be able to communicate freely in English.</li>
													<li>Contribute to the team synergy.</li>
													<li>Be prepared to learn a lot and develop an in-depth understanding of ad tech and real-time bidding in particular.</li>
													<li>Become deeply familiard with existing blockchain technologies as well as their future research and advancements.</li>
												</ul>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">Really nice to haves:</h3>
											</div>
											<div class="panel-body">
												<ul class="arrow-gradient">
													<li>Excited to work in a dynamic startup environment.</li>
													<li>Ability to work both independently and as a part of a team.</li>
													<li>Professional experience in scaling low-latency products.</li>
													<li>See something, say something attitude - when you have a really great idea or a really important question, don't keep it to yourself.</li>
													<li>Ability to turn pressure into a calm and collected game plan.</li>
													<li>A desire to constantly improve as a professional and stay on top of the cutting edge technologies.</li>
												</ul>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">About AdHash:</h3>
											</div>
											<div class="panel-body">
												<p>AdHash is a decentralised ad ecosystem which offers an entirely new framework for trading digital advertising. We believe advertising should power meaningful conversations in a simple, transparent, and actionable way. AdHash cuts the dead weight from the digital ad ecosystem to bring efficiency, trust, and control.<br/> AdHash rebuilds the real-time bidding protocol from the ground up, combining first-party ad hosting and Unique Hash IDs to eliminate the majority of ad fraud attack vectors and deliver complete transparency and control to advertisers, publishers, and users.</p>
											</div>
										</div>
									</div>
									<a href="<?php echo SITE_URL; ?>/site/careers/senior-system-administrator.html" target="_blank" class="btn btn-primary apply form-page-open">
										<span>Apply</span>
									</a>
								</div>
							</div>
							<div id="desktop-data-analyst" class="panel panel-main tab-pane">
								<div class="panel-heading">
									<div class="panel-title">
										<a class="collapsed" href="#data-analyst" data-toggle="collapse">
											Data analyst
										</a>
										<i class="plus-minus-rotate no-hover" role="link" data-target="#data-analyst" data-toggle="collapse"></i>
									</div>
								</div>
								<div id="data-analyst" class="panel-body panel-collapse collapse" data-parent="#accordion-careers-themes">
									<div class="panel-group">
										<div class="panel">
											<div class="panel-heading career-heading">
												<h2 class="panel-title">Data analyst</h2>
											</div>
											<div class="panel-body">
												<p>Interested in helping us change the advertising world forever? This is a great opportunity for a passionate scientist or engineer to join our team and become deeply involved in the technology and processes behind the AdHash Protocol.</p>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">Candidates would be expected to:</h3>
											</div>
											<div class="panel-body">
												<ul class="arrow-gradient">
													<li>Have a strong passion for working with numbers and researching big datasets.</li>
													<li>Be prepared to learn a lot and develop an in-depth understanding of ad tech and real-time bidding in particular.</li>
													<li>Become deeply familiard with existing blockchain technologies as well as their future research and advancements.</li>
													<li>Sample and analyse all the bidding information running through the AdHash Bidder. Come up with better ways to get insights from the data.</li>
													<li>Collaborate closely with the product management, UX design, and development teams.</li>
													<li>Show great attention to details.</li>
													<li>Be able to communicate freely in English.</li>
													<li>Contribute to the team synergy and coordinate tasks with the relevant departments.</li>
													<li>Participate in business development collaborations and contribute with valuable insights.</li>
													<li>A desire to constantly improve as a professional and stay on top of the cutting edge technologies.</li>
												</ul>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">Really nice to haves:</h3>
											</div>
											<div class="panel-body">
												<ul class="arrow-gradient">
													<li>Excited to work in a dynamic startup environment.</li>
													<li>Experience in machine learning.</li>
													<li>Experience in data sciences.</li>
													<li>Experience with databases.</li>
													<li>Scientific or mathematical background.</li>
													<li>Ability to work both independently and as a part of a team.</li>
													<li>See something, say something attitude - when you have a really great idea or a really important question, don't keep it to yourself.</li>
												</ul>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">About AdHash:</h3>
											</div>
											<div class="panel-body">
												<p>AdHash is a decentralised ad ecosystem which offers an entirely new framework for trading digital advertising. We believe advertising should power meaningful conversations in a simple, transparent, and actionable way. AdHash cuts the dead weight from the digital ad ecosystem to bring efficiency, trust, and control.<br/> AdHash rebuilds the real-time bidding protocol from the ground up, combining first-party ad hosting and Unique Hash IDs to eliminate the majority of ad fraud attack vectors and deliver complete transparency and control to advertisers, publishers, and users.</p>
											</div>
										</div>
									</div>
								<a href="<?php echo SITE_URL; ?>/site/careers/data-analyst.html" target="_blank" class="btn btn-primary apply form-page-open">
									<span>Apply</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		headerParallaxInit();
		responsivePanels();
	</script>
</section>