<section id="join-form" class="section full-page form-page">
	<header class="section-header">
		<h1 class="section-title"><?php echo Language::translate('join.form.title'); ?></h1>
		<div class="new-line"></div>
		<p class="section-description"><?php echo Language::translate('join.form.description'); ?></p>
	</header>
	<div class="section-container">
		<div class="container">
			<div class="row border-offset-15 last">
				<div class="col-12">
					<ul class="nav" role="tablist">
						<?php foreach($joinForms as $joinForm): ?>
							<li class="nav-item">
								<a class="nav-link<?php if($form == $joinForm): ?> active show<?php endif; ?>" id="<?php echo $joinForm; ?>-tab" data-toggle="tab" data-target="#<?php echo $joinForm; ?>"
									href="<?php echo SITE_URL; ?>/site/join-form/<?php echo $joinForm; ?>.html"
									role="tab" aria-controls="<?php echo $joinForm; ?>" aria-selected="false">
									<?php echo Language::translate('join.form.' . $joinForm); ?>
								</a>
							</li>
						<?php endforeach; ?>
					</ul>
				</div>
				<div class="col-12 tab-content">
					<?php foreach($joinForms as $joinForm): ?>
						<?php include(VIEWS_PATH . DS . 'site' . DS . 'join_form' . DS . $joinForm . '.html'); ?>
					<?php endforeach; ?>
				</div>
			</div>
		</div>
	</div>
	<script>
		formCategoryInit();
	</script>
</section>