<section id="pricing-form" class="section full-page form-page">
	<header class="section-header">
		<h1 class="section-title"><?php echo Language::translate('pricing.form.title'); ?></h1>
		<div class="new-line"></div>
		<p class="section-description"><?php echo Language::translate('pricing.form.description'); ?></p>
	</header>
	
	<div class="container" style="max-width:1140px;">
		<div class="row">

			<!-- Pricing - free -->

			<div class="col-md price-option-container">
				<div class="row align-items-center d-flex justify-content-center" id="pricing-header">
					<div class="col-auto pricing-image">
						<img class="rounded-circle" src="<?php echo SITE_URL; ?>/static/images/pricing/free.jpg" 
							alt="Free pricing option image">
					</div>
					<div class="col-auto price-container">
						<h2><span class="price">$0</span>/month</h2>
						<p>Free</p>
					</div>
				</div>
				<div class="row-sm" id="pricing-description">
					<h3 class="panel-title">A 30 day free trail of the <span class="c-62c5e5">Advanced</span>
						subscription tier.</h3>
				</div>
				<div class="row-sm" style="padding-right:30px;">
					<ul style="list-style:none;text-align:left;">
						<li><span class="pricing-dash">-</span> Inviting each new referral extends the trial period by
							14 days.</li>
						<li><span class="pricing-dash">-</span> No credit card required.</li>
						<li><span class="pricing-dash">-</span> Hands-on support.</li>
					</ul>
				</div>

				<div class="position-absolute bottom-0 clearfix w-100 row justify-content-center" style="bottom:10px">
					<a href="#" class="btn btn-primary">Try now</a>
				</div>

			</div>

			<!-- Pricing - basic -->

			<div class="col-md price-option-container">
				<div class="row align-items-center d-flex justify-content-center" id="pricing-header">
					<div class="col-auto pricing-image">
						<img class="rounded-circle" src="<?php echo SITE_URL; ?>/static/images/pricing/basic.jpg"
							alt="Basic pricing option image">
					</div>
					<div class="col-auto price-container">
						<h2><span class="price">$29</span>/month</h2>
						<p>Basic</p>
					</div>
				</div>
				<div class="row-sm" id="pricing-description">
					<h3 class="panel-title">Supports one website or app per user.</h3>
				</div>
				<div class="row-sm" style="padding-right:30px;">
					<ul style="list-style:none;text-align:left;">
						<li><span class="pricing-dash">-</span> Manual and automated testing.</li>
						<li><span class="pricing-dash">-</span> Real-time bug alerts.</li>
						<li><span class="pricing-dash">-</span> Up to 1,000 page runs per month.</li>
						<li><span class="pricing-dash">-</span> Visual version comparison.</li>
						<li><span class="pricing-dash">-</span> HTML snaphots and comparison.</li>
						<li><span class="pricing-dash">-</span> Deﬁne actions (e.g. logging into a secured system).</li>
						<li><span class="pricing-dash">-</span> Conﬁgurable timing.</li>
						<li><span class="pricing-dash">-</span> Full analytics reporting.</li>
					</ul>
				</div>
				<div class="position-absolute bottom-0 clearfix w-100 row justify-content-center" style="bottom:10px">
					<a href="#" class="btn btn-primary">Try now</a>
				</div>
			</div>

			<!-- Pricing - advanced -->

			<div class="col-md price-option-container">
				<div class="row align-items-center d-flex justify-content-center" id="pricing-header">
					<div class="col-auto pricing-image">
						<img class="rounded-circle" src="<?php echo SITE_URL; ?>/static/images/pricing/advanced.jpg"
							alt="Advanced pricing option image">
					</div>
					<div class="col-auto price-container">
						<h2><span class="price">$79</span>/month</h2>
						<p>Advanced</p>
					</div>
				</div>
				<div class="row-sm" id="pricing-description">
					<h3 class="panel-title">Everything included in the <span class="c-62c5e5">Basic</span> subscription
						tier, plus:</h3>
				</div>
				<div class="row-sm" style="padding-right:30px;">
					<ul style="list-style:none;text-align:left;">
						<li><span class="pricing-dash">-</span> Supports up to five websites or apps per user.</li>
						<li><span class="pricing-dash">-</span> On-demand testing.</li>
						<li><span class="pricing-dash">-</span> Up to 50,000 page runs per month.</li>
						<li><span class="pricing-dash">-</span> Selective content blindness.</li>
						<li><span class="pricing-dash">-</span> Supports multipe recorded configurations to compare
							with.</li>
						<li><span class="pricing-dash">-</span> Selectable resolutions.</li>
						<li><span class="pricing-dash">-</span> Javascript browser errors.</li>
						<li><span class="pricing-dash">-</span> URL crawling for automated sitemap generation.</li>
					</ul>
				</div>
				<div class="position-absolute bottom-0 clearfix w-100 row justify-content-center" style="bottom:10px">
					<a href="#" class="btn btn-primary">Try now</a>
				</div>
			</div>

			<!-- Pricing - professional -->

			<div class="col-md price-option-container">
				<div class="row align-items-center d-flex justify-content-center" id="pricing-header">
					<div class="col-auto pricing-image">
						<img class="rounded-circle" src="<?php echo SITE_URL; ?>/static/images/pricing/professional.jpg"
							alt="Professional pricing option image">
					</div>
					<div class="col-auto price-container">
						<h2><b>Contact us</b></h2>
						<p>Professional</p>
					</div>
				</div>
				<div class="row-sm" id="pricing-description">
					<h3 class="panel-title">Everything in the <span class="c-62c5e5">Advanced</span> tier scaled for
						bigger teams, plus:</h3>
				</div>
				<div class="row-sm" style="padding-right:30px;">
					<ul style="list-style:none;text-align:left;">
						<li><span class="pricing-dash">-</span> Access to beta features.</li>
						<li><span class="pricing-dash">-</span> Multiple choices of geolocations.</li>
						<li><span class="pricing-dash">-</span> Unlimited page runs.</li>
						<li><span class="pricing-dash">-</span> Unlimited data retention.</li>
						<li><span class="pricing-dash">-</span> Loading progression snapshots.</li>
						<li><span class="pricing-dash">-</span> Page breakdown to individual UI components. </li>
					</ul>
				</div>
				<div class="position-absolute bottom-0 clearfix w-100 row justify-content-center" style="bottom:10px">
					<a href="#" class="btn btn-primary">Try now</a>
				</div>
			</div>

		</div>
	</div>
	<script>
		formCategoryInit();
	</script>
</section>