<section id="solutions-publishers" class="section full-page single-page">
	<header class="section-header parallax">
		<div class="section-header-group text-center">
			<h1 class="section-title">Publishers</h1>
			<div class="new-line"></div>
			<p class="section-description text-center">Helping publishers regain a position of strength in the advertising economy so we can all enjoy free access to the content we love.</p>
		</div>
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/publishers.png" alt="Publishers" class="mb-0 d-none d-md-block" />
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/publishers-mobile.png" alt="Publishers" class="d-md-none" />
	</header>
	<div class="section-container">
		<div class="container">
			<div id="solutions-left-right" class="row last">
				<div id="solutions-left" class="col-auto">
					<?php include(VIEWS_PATH . DS . 'site' . DS . 'subviews' . DS . 'solutions-nav.html'); ?>
				</div>
				<div id="solutions-right" class="col">
					<div class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Revenue</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Higher compensation from advertisers</h3>
										</div>
										<div class="panel-body">
											<p>In the current advertising ecosystem, as little as 20% of the advertising spend actually reaches the publishers. AdHash helps you retain greater revenue share by reducing all intermediary fees to a single 3% commission which is verifiable through the AdHash Bidder’s public node address.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">New revenue streams</h3>
										</div>
										<div class="panel-body">
											<p>Currently, some publishers are earning 10 to 100 times more than others simply because of their geolocation or brand. This makes it incredibly difficult for small and niche content creators to compete. AdHash levels the playing field by introducing two new revenue streams: minting AD tokens as publisher rewards (for each verified click, on top of what the advertiser is paying per click) and voting rewards (for each correct vote). The two reward types are designed to fairly and consistently reflect your valuable contribution to the AdHash ecosystem.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No more revenue wasted on domain spoofing</h3>
										</div>
										<div class="panel-body">
											<p>By using Unique Hash IDs, we are able to divert earnings generated via domain spoofing from the fraudulent website to the wallet ID of the intended publisher.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">An alternative to ad blockers</h3>
										</div>
										<div class="panel-body">
											<p>AdHash is the first protocol to enable users to directly bid against advertisers. Users can now remove all ads from their browsing experience without hurting your revenues.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Daily payments</h3>
										</div>
										<div class="panel-body">
											<p>Our native cryptocurrency (AD) enables micro transactions and daily payments. Publishers no longer have to wait and have their earnings locked in a platform for months, or risk not being paid at all.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Financial security</h3>
										</div>
										<div class="panel-body">
											<p>All participants in our network are required to leave deposits executed by smart contracts. Thus, advertisers who purchase genuine inventory from you but try not to pay will be automatically detected and blacklisted and you will receive what you are owed.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Low transaction costs</h3>
										</div>
										<div class="panel-body">
											<p>Micro transactions are performed off-chain which reduces the blockchain transaction costs and sidesteps the current blockchain scalability limitations, making the AdHash Protocol uniquely suited to the high-speed transactions of RTB advertising.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Efficiency</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Enhanced Control</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Server-Side Platform allows publishers to set new ad units, implement price floors and blacklists, adjust their storage allocation, maximum gas prices, and access the voting system from the platform.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Faster ad serving</h3>
										</div>
										<div class="panel-body">
											<p>Algorithmic improvements allow us to reduce the ad request load on each server by up to two orders of magnitude. This makes the ad serving process approximately ten times faster. Removing heavy ad formats and third-party scripts further contributes to this effect.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Accurate real-time data</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Server-Side Platform for publishers measures data directly from your server in real-time, guaranteeing accuracy, consistency, and immediacy.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Removing the complexity, intermediary fees, and data discrepancies</h3>
										</div>
										<div class="panel-body">
											<p>With the help of Unique Hash IDs, the AdHash Protocol enables publishers and advertisers to transact directly and securely without the need of any ad tech intermediaries.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Quality-driven market dynamics</h3>
										</div>
										<div class="panel-body">
											<p>Publicly available viewability metrics for all ad slots guarantee high demand for the best inventory.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">User experience</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No disruptive ad formats and third-party tracking scripts</h3>
										</div>
										<div class="panel-body">
											<p>Static ads do not distract from your content and are less heavy on users’ devices. Removing all third-party scripts reduces page loading times and enhances users’ privacy and security.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Safe advertising environment</h3>
										</div>
										<div class="panel-body">
											<p>Create a safe advertising environment for your users by implementing blacklists and whitelist for advertisers and creatives. For more information on blacklisting, blocking, and flagging, please visit our <a href="<?php echo SITE_URL; ?>/help.html">Help page</a>.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Security</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Complete control over your data and inventory</h3>
										</div>
										<div class="panel-body">
											<p>Data is securely stored on your server and never shown to any third-party vendors. All advertisers are disclosed and verifiable. Inventory cannot be passed on or traded by anonymous third parties.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No risk of malware</h3>
										</div>
										<div class="panel-body">
											<p>Removing all third-party tracking and in-ad scripts eliminates any malvertising that might contain malicious code, malware, and ransomware.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Balance between privacy and transparency</h3>
										</div>
										<div class="panel-body">
											<p>AdHash combines blockchain and off-chain transactions to offer transparency while maintaining a level of privacy. Detailed transaction data is stored off-chain and only on your server. The application of off-chain transactions and public-key cryptography ensure that any sensitive information such as media buying patterns and bidding strategies remain private.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">What do I need to get started?</h2>
							</div>
							<div class="panel-body">
								<p>1. Complete the <a href="<?php echo SITE_URL; ?>/site/join-form/publisher.html" class="form-page-open">join form for publishers</a>.</p>
								<p>2. Follow the steps from your email to install the AdHash Server-Side Platform on your server.</p>
								<p>3. Once logged in, you can register your wallet. We will use this address to transfer your earnings. Publisher earnings are divided into two types:
								<ul class="arrow-gradient o-075">
									<li>from advertisers: the amounts paid by advertisers for each verified click (transferred once daily).</li>
									<li>from minting: the AD rewards you earn from AdHash for each verified click (transferred once every 14 days).</li>
								</ul>
								<p>To ensure the security of the AdHash ecosystem, the rewards accumulated from minting over the 14-day period will serve as your collateral and may be withheld in the event of a policy breach.</p>
								<p>4. From the platform you can see your Unique Hash ID which is generated upon registration and is recorded on the blockchain. You can generate ad unit tags and implement price floors and blacklists.</p>
								<p>5. And you are all set!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		headerMenuHelper();
		headerParallaxInit();
	</script>
</section>