<section id="solutions-advertisers" class="section full-page single-page">
	<header class="section-header parallax">
		<div class="section-header-group text-center">
			<h1 class="section-title">Advertisers</h1>
			<div class="new-line"></div>
			<p class="section-description text-center">An entirely new approach to digital advertising for more efficient, transparent, and trustworthy media buying.</p>
		</div>
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/advertisers.png" alt="Advertisers" class="mb-0 d-none d-md-block" />
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/advertisers-mobile.png" alt="Advertisers" class="d-md-none" />
	</header>
	<div class="section-container">
		<div class="container">
			<div id="solutions-left-right" class="row last">
				<div id="solutions-left" class="col-auto">
					<?php include(VIEWS_PATH . DS . 'site' . DS . 'subviews' . DS . 'solutions-nav.html'); ?>
				</div>
				<div id="solutions-right" class="col">
					<div class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Return on ad spend</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No more hidden fees</h3>
										</div>
										<div class="panel-body">
											<p>In the current advertising ecosystem, as much as 80% of advertisers’ budgets is spent on middleware, mediation, and fraud prevention. Very little accounts for actual media buying. AdHash helps advertisers increase their return on investment by reducing all intermediary fees to a single 3% commission which is verifiable through the AdHash Bidder’s public node address. </p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No double-bidding</h3>
										</div>
										<div class="panel-body">
											<p>Today’s market defragmentation and lack of standardisation across ad tech providers often results in inefficiencies and unnecessary spending. Advertisers buying through multiple ad exchanges and DSPs simultaneously can easily end up bidding against themselves and artificially inflating their ad costs. AdHash eliminates double-bidding by assigning a Unique Hash ID to every advertiser and creative, making sure that bids from the same advertiser do not compete against each other.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">CPC bidding model</h3>
										</div>
										<div class="panel-body">
											<p>The Cost-Per-Click bidding model achieves a better balance between the needs of advertisers and publishers. You only pay when someone clicks on your ads. And a visitor can only click on an ad once your encrypted targeting criteria have been verified by the visitor’s device, providing an extra layer of protection against ad fraud.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No more budget lock-ins</h3>
										</div>
										<div class="panel-body">
											<p>In most advertising platforms, funds, once deposited, are difficult or impossible to withdraw, should the advertiser decide to spend them elsewhere. AdHash allows you to quickly and easily retrieve your remaining AD tokens and instantly convert them into any crypto or fiat currency.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No more dollars wasted on ad fraud</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Protocol is carefully designed to eliminate 16 major ad fraud vectors. You can read more about them in our <a href="<?php echo SITE_URL; ?>/static/documents/AdHash_-_A_Fundamental_Rethinking_of_RTB_Advertising.pdf">White paper</a>.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Campaign performance, implementation, and optimisation</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Enhanced control</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Server-Side Platform allows every advertiser to host his or her own node in our decentralised network. You can use it to set your bidding preferences, targeting criteria, CPC caps, blacklists, frequency and recency caps. You can even access the AdHash Voting System directly from the platform.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Faster ad serving</h3>
										</div>
										<div class="panel-body">
											<p>Slow ad serving impacts viewability because if the ad does not load, it cannot be seen. The AdHash algorithmic improvements reduce the ad request load on each server by up to two orders of magnitude. Removing heavy ad formats and third-party scripts further minimises ad loading time.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Accurate real-time data</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Server-Side Platform measures data directly from your server in real-time, guaranteeing accuracy, consistency, and immediacy.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Reliable targeting</h3>
										</div>
										<div class="panel-body">
											<p>No more targeting by approximated, probabilistic, and unreliable (yet expensive) third-party data. AdHash utilises only first-party data that are directly measurable and verifiable. This allows for more accurate campaign planning and predictable outcomes.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Brand safety</h3>
										</div>
										<div class="panel-body">
											<p>Advertisers can curate their brand’s advertising environment through whitelists and blacklists. All publishers you transact with are disclosed and verifiable and traffic sources can be easily filtered. You can also flag and block inappropriate publishers from the entire network. For more information on blacklisting, blocking, and flagging, please visit our <a href="<?php echo SITE_URL; ?>/help.html">Help page</a>.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Immediate campaign launching</h3>
										</div>
										<div class="panel-body">
											<p>In existing advertising platforms, all creatives are subject to independent approval by each ad exchange. Across the exchanges, the approval process can take from a few hours to over a week, often resulting in delays in campaign launching. Using the AdHash Protocol you can get your campaign off the ground and running in minutes. All it takes is for the Unique Hash IDs of your ads to be recorded on the Ethereum blockchain.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Creative optimisation</h3>
										</div>
										<div class="panel-body">
											<p>Besides detecting fraudulent traffic, the AdHash heatmap functionality is an effective tool for analysing creative performance. You can determine which parts of the ad attract attention and optimise the design for better performance.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Viewability</h3>
										</div>
										<div class="panel-body">
											<p>Viewability metrics are available for every ad position and are considered by the AdHash Bidder in the auction process.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Vastly reduced complexity, security vulnerability, and data discrepancies.</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash blockchain application and Unique Hash IDs enable advertisers and publishers to transact directly and securely without the need for intermediaries. Campaign data is securely stored on your server and never shown to any third-party vendors. The AdHash Server-Side Platform provides a standardised framework for data tracking and recording, minimising the discrepancies between transacting parties.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Balance between privacy and transparency</h3>
										</div>
										<div class="panel-body">
											<p>AdHash combines blockchain and off-chain transactions to offer transparency while maintaining a level of privacy. Detailed transaction data are stored off-chain and only on your server. The application of off-chain transactions and public-key cryptography ensure that any sensitive information such as media buying patterns and bidding strategies remain private.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Two hosting options to suit all needs</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Self-hosted</h3>
										</div>
										<div class="panel-body">
											<p>You can install the AdHash Server-Side Platform directly on your servers for optimal performance. Host your creatives and monitor your campaigns locally, without engaging any third-parties. This gives you:</p>
											<ul class="arrow-gradient o-075">
												<li>The full benefits of the AdHash Protocol by using first-party ad hosting.</li>
												<li>Total data transparency.</li>
												<li>100% secure ownership of all information.</li>
												<li>Real-time data analytics.</li>
												<li>Configurable data storage.</li>
											</ul>
											<p>All detailed advertising information is stored exclusively on your server and not on AdHash's cloud storage.</p>
											<a href="<?php echo SITE_URL; ?>/login.html" target="_blank" class="btn btn-primary">
												<span>AdHash Server-Side Platform</span>
											</a>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Cloud-hosted</h3>
										</div>
										<div class="panel-body">
											<p>By signing for our cloud services, you can skip the technical setup and maintenance of hosting the Platform yourself. Your AdHash Server-Side Platform will be hosted on our secure servers while still giving you full control over your data and campaigns. You can always upgrade to the full self-hosted platform.</p>
											<a href="<?php echo SITE_URL; ?>/site/join-form/advertiser.html" target="_blank" class="btn btn-primary">
												<span>Start your 30-day free trial</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">What do I need to get started?</h2>
							</div>
							<div class="panel-body">
								<p>1. Complete the <a href="<?php echo SITE_URL; ?>/site/join-form/advertiser.html" class="form-page-open">join form for advertisers</a>.</p>
								<p>2. If you select AdHash Server-Side Platform, follow the steps from your email to install the platform on your server.<br /> If you choose AdHash Cloud, all you need to do is log into the AdHash Platform using the login details sent to you via email.</p>
								<p>3. Once logged in, you can register your wallet and fund your account with AD tokens.</p>
								<p>4. It is time to set up your campaign. You can select targeting criteria, CPC caps, blacklists, frequency and recency capping, etc. To ensure the security of the AdHash ecosystem, each advertiser is required to submit a deposit equal to five times their planned daily ad spend. The deposit represents your skin in the game and may be withheld in the event of a policy breach or non-payment.</p>
								<p>5. Final step - creatives. Within minutes of uploading your creatives, each will be assigned a Unique Hash ID recorded on the blockchain. Once that's done, you're ready to go. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		headerMenuHelper();
		headerParallaxInit();
	</script>
</section>