<section id="solutions-users" class="section full-page single-page">
	<header class="section-header parallax">
		<div class="section-header-group text-center">
			<h1 class="section-title">Users</h1>
			<div class="new-line"></div>
			<p class="section-description text-center">Advertising without the clutter, tracking pixels, and slow page loads.</p>
		</div>
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/users.png" alt="Users" class="mb-0 d-none d-md-block" />
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/users-mobile.png" alt="Users" class="d-md-none" />
	</header>
	<div class="section-container">
		<div class="container">
			<div id="solutions-left-right" class="row last">
				<div id="solutions-left" class="col-auto">
					<?php include(VIEWS_PATH . DS . 'site' . DS . 'subviews' . DS . 'solutions-nav.html'); ?>
				</div>
				<div id="solutions-right" class="col">
					<div class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Data privacy and security</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Real privacy</h3>
										</div>
										<div class="panel-body">
											<p>No third-party tracking scripts from companies collecting, profiling, and selling consumer data. Targeting is carefully calibrated to ensure a balance between data privacy and ad relevance. No personal information is stored on the blockchain.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Full transparency</h3>
										</div>
										<div class="panel-body">
											<p>No more ads with unknown sources and scripts running malicious code, malware, and ransomware. Our Unique Hash IDs introduce accountability and eliminate the vast majority of ad fraud schemes. Anyone can check the hash of any ad creative and find out who is paying for it.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Enhanced control over the user experience</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Removing undesirable ads</h3>
										</div>
										<div class="panel-body">
											<p>You can quickly and easily remove ads you consider inappropriate via the Flag or Block options accessible from the icon located at the top right corner of every ad served through the AdHash Protocol. On top of that, a comprehensive database of all hosted advertising assets is available to and readable by anyone. Not only will you be contributing to the quality of the browsing experience of everyone else but you will also be rewarded for it. For more information on flagging and blocking, please visit our <a href="<?php echo SITE_URL; ?>/help.html">Help page</a>.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Seamless user experience</h3>
										</div>
										<div class="panel-body">
											<p>No more disruptive ad formats and ad repetition on the same page. AdHash uses only static ads which do not distract from the content and are less heavy on your hardware. This, together with our algorithmic optimisations and the removal of all third-party scripts, contribute to much quicker page loading times.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Alternative to ad blockers</h3>
										</div>
										<div class="panel-body">
											<p>AdHash is the first platform to enable users to bid against advertisers. You can enjoy an ad-free browsing experience without hurting publishers’ revenues by requesting to join AdHash <a href="<?php echo SITE_URL; ?>/site/join-form/user.html">as a user</a>.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">A say in the policy-making process</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Voting System allows you to participate in the decision-making process governing the advertising ecosystem.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">An opportunity to earn AD tokens</h3>
										</div>
										<div class="panel-body">
											<p>Anyone who contributes to the AdHash Voting System by helping to identify and block abusers can earn AD tokens. The voting mechanism presents an entirely new opportunity for users to engage in the advertising ecosystem by allowing them to do the job that otherwise tens of thousands of corporate employees are doing. All you need is a digital wallet and an AdHash account, both of which are free. For more information, visit our <a href="<?php echo SITE_URL; ?>/voting.html">Voting page</a>.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">What do I need to get started?</h2>
							</div>
							<div class="panel-body">
								<p>1. Complete the <a href="<?php echo SITE_URL; ?>/site/join-form/voter.html" class="form-page-open">join form for voters</a>.</p>
								<p>2. Follow the steps from your email to log into the AdHash Voting Platform.</p>
								<p>3. Once logged in, you can see your current rank. It is 25 points for newly registered voters. For more information on ranks, please visit our <a href="<?php echo SITE_URL; ?>/voting.html">Voting page</a>.</p>
								<p>4. When selected to vote, you will receive an email request containing a link. The link is only valid for 30 minutes before it expires. When you click on the link, it will lead you to the Voting Platform where you can review the case and submit your vote. From your profile, you can see all past and pending votes.</p>
								<p>5. Once the final vote is complete, you will receive an email notification containing the result, your new rank, and the amount of voting rewards earned (if applicable).</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		headerMenuHelper();
		headerParallaxInit();
	</script>
</section>