<section id="solutions-blockchain-startups" class="section full-page single-page">
	<header class="section-header">
		<h1 class="section-title" style="text-align: center;">For blockchain startups</h1>
		<div class="new-line"></div>
		<p class="section-description text-center">An open-source, open-governance ecosystem where all legal businesses are allowed to advertise.</p>
	</header>
	<div class="section-container">
		<div class="container">
			<div id="solutions-left-right" class="row last">
				<div id="solutions-left" class="col-auto">
					<?php include(VIEWS_PATH . DS . 'site' . DS . 'subviews' . DS . 'solutions-nav.html'); ?>
				</div>
				<div id="solutions-right" class="col">
					<div class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Return on ad spend</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No more hidden fees</h3>
										</div>
										<div class="panel-body">
											<p>In the current advertising ecosystem, as much as 80% of advertisers’ budgets are spent on middleware, mediation, and fraud prevention. Very little accounts for actual media buying. AdHash helps advertisers increase your return on investment by reducing all intermediary fees to a single 3% commission which is verifiable through the AdHash Bidder’s public node address.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No double-bidding</h3>
										</div>
										<div class="panel-body">
											<p>Today’s market defragmentation and lack of standardisation across ad tech providers often results in inefficiencies and unnecessary spending. Advertisers buying through multiple ad exchanges and DSPs simultaneously can easily end up bidding against themselves and artificially inflating their ad costs. AdHash eliminates double-bidding by assigning a unique hash ID to every advertiser and creative, making sure that your different bids do not compete against each other.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">CPC bidding model</h3>
										</div>
										<div class="panel-body">
											<p>The Cost-Per-Click bidding model achieves a better balance between the needs of advertisers and publishers. You only pay when someone clicks on your ads. And a visitor can only click on an ad once the your encrypted targeting criteria have been verified by the visitor’s device, providing an extra layer of protection against ad fraud.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No more budget lock-ins</h3>
										</div>
										<div class="panel-body">
											<p>In most advertising platforms, funds, once deposited, are difficult or impossible to withdraw, should the advertiser decide to spend them elsewhere. In AdHash, you can quickly and easily retrieve your remaining AD tokens and instantly convert them into any crypto or fiat currency.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">No more dollars wasted on ad fraud</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash protocol is carefully designed to eliminate 16 major ad fraud vectors. You can read more about them in our <a href="<?php echo SITE_URL; ?>/static/documents/AdHash%20-%20A%20Fundamental%20Rethinking%20of%20RTB%20Advertising.pdf">White paper</a>.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h2 class="panel-title">Campaign performance, implementation, and optimisation</h2>
							</div>
							<div class="panel-body">
								<div class="panel-group">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Enhanced control</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Server-Side Platform allows every advertiser to host his or her own node in our decentralised network. You can use it to set your bidding preferences, targeting criteria, CPC caps, blacklists, frequency and recency caps. You can even access governance and voting mechanism directly from the platform.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Faster ad serving</h3>
										</div>
										<div class="panel-body">
											<p>Slow ad serving impacts viewability because if the ad does not load, it cannot be seen. The AdHash algorithmic improvements reduce the ad request load on each server by up to two orders of magnitude. Removing heavy ad formats and third-party scripts further minimises ad loading time.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Accurate real-time data</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash Server-Side Platform measures data directly from your server in real-time, guaranteeing accuracy, consistency, and immediacy.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Reliable targeting</h3>
										</div>
										<div class="panel-body">
											<p>No more targeting by approximated, probabilistic, and unreliable (yet expensive) third-party data. AdHash utilises only first-party data that are directly measurable and verifiable. This allows for more accurate campaign planning and predictable outcomes.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Brand safety</h3>
										</div>
										<div class="panel-body">
											<p>Advertisers can curate their brand’s advertising environment through whitelists and blacklists. All publishers you transact with are disclosed and verifiable and traffic sources can be easily filtered. You can also flag and block inappropriate publishers from the entire network. For more information on blacklisting, blocking, and flagging, please visit our <a href="<?php echo SITE_URL; ?>/help.html">Help page</a>.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Immediate campaign launching</h3>
										</div>
										<div class="panel-body">
											<p>In existing advertising platforms, all creatives are subject to independent approval by each ad exchange. Across the exchanges, the approval process can take from a few hours to over a week, often resulting in delays in campaign launching. Using the AdHash Protocol you can get your campaign off the ground and running in minutes. All it takes is for the unique hash IDs of your ads to be recorded on the Ethereum blockchain.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Creative optimisation</h3>
										</div>
										<div class="panel-body">
											<p>Besides detecting fraudulent traffic, the AdHash heatmap functionality is an effective tool for analysing creative performance. You can determine which parts of the ad attract attention and optimise the design for better performance.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Viewability</h3>
										</div>
										<div class="panel-body">
											<p>Viewability metrics are available for every ad position and are considered by the AdHash Bidder in the auction process.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Vastly reduced complexity, security vulnerability, and data discrepancies.</h3>
										</div>
										<div class="panel-body">
											<p>The AdHash blockchain application and unique hash IDs enable advertisers and publishers to transact directly and securely without the need for intermediaries. Campaign data is securely stored on your server and never shown to any third-party vendors. The AdHash Server-Side Platform provides a standardised framework for data tracking and recording, minimising the discrepancies between transacting parties.</p>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Balance between privacy and transparency</h3>
										</div>
										<div class="panel-body">
											<p>AdHash combines blockchain and off-chain transactions to offer transparency while maintaining a level of privacy. Detailed transaction data are stored off-chain and only on your server. The application of off-chain transactions and public-key cryptography ensure that any sensitive information such as media buying patterns and bidding strategies remain your proprietary information.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>