<section id="voting" class="section full-page single-page">
	<header class="section-header parallax">
		<div class="section-header-group text-center">
			<h1 class="section-title">Voting</h1>
			<div class="new-line"></div>
			<p class="section-description text-center">A decentralised governance voting system for a democratic and self-sustaining ad ecosystem.</p>
		</div>
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/voting.png" alt="Voting" class="mb-0 d-none d-md-block" />
		<img src="<?php echo SITE_URL; ?>/static/images/pages/headers/voting-mobile.png" alt="Voting" class="d-md-none" />
	</header>
	<div class="section-container">
		<div class="container">
			<div class="panel-group">
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">Purpose of the AdHash Voting System</h2>
					</div>
					<div class="panel-body">
						<ul class="arrow-gradient o-075">
							<li>Secure the integrity of the ecosystem by allowing participants to proactively identify and block abusers.</li>
							<li>Replace the ineffective creative approval process with a more efficient quality control process.</li>
							<li>Facilitate self-regulation, enabling the network to be self-sustaining and adapt to the changing needs of its participants.</li>
							<li>Provide a democratic framework for quick dispute resolution.</li>
							<li>Give participants equal opportunity to contribute and earn AD tokens.</li>
						</ul>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">How to get started</h2>
					</div>
					<div class="panel-body">
						<p>When registering to use AdHash you can also opt-in to become a voter. To begin the process, click <a href="<?php echo SITE_URL; ?>/site/join-form/voter.html">here</a> and follow the steps.</p>
						<p>But first, a few things to know about the voting system:</p>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">Calling a vote</h2>
					</div>
					<div class="panel-body">
						<p>Came across an ad you thought was inappropriate? You have two options:</p>
						<div class="img-wrap">
							<div class="row border-offset-10 creative-quality-control">
								<div class="col-auto">
									<img src="<?php echo SITE_URL; ?>/static/images/pages/adhash-creative-300x250.png" alt="AdHash creative 300x250" id="adhash-creative-300x250" />
								</div>
								<div class="col-auto">
									<img src="<?php echo SITE_URL; ?>/static/images/pages/adhash-creative-300x250-quality-control.png" alt="AdHash creative 300x250 quality control" id="adhash-creative-300x250-quality-control" />
								</div>
							</div>
							<div class="row border-offset-10 creative-quality-control">
								<div class="col-auto">
									<img src="<?php echo SITE_URL; ?>/static/images/pages/adhash-creative-300x250-quality-control-flag.png" alt="AdHash creative 300x250 quality control flag" id="adhash-creative-300x250-quality-control-flag" />
								</div>
								<div class="col-auto">
									<img src="<?php echo SITE_URL; ?>/static/images/pages/adhash-creative-300x250-quality-control-block.png" alt="AdHash creative 300x250 quality control block" id="adhash-creative-300x250-quality-control-block" />
								</div>
							</div>
						</div>
						<p class="arrow-gradient o-075">Select "Block this ad" from the AdHash Quality Control icon at the top right corner to request this ad to be permanently removed from the ecosystem. To do this, you will need to submit a deposit. Deposits are required to eliminate spam and unnecessary block requests. Once your block request is sent, the voting community is put to work.<br />If approved by the voters, the ad is permanently blocked from the AdHash ecosystem and you can retrieve your deposit, earning an additional reward for successfully identifying a problem. If declined, the ad will not be blocked and you will lose your deposit.</p>
						<p class="arrow-gradient o-075">Select "Flag this ad" to simply remove the ad from your personal browsing experience. Other people may still see it. However, if the ad is flagged multiple times by different people in a short period of time, it will automatically trigger a vote. If voted as inappropriate, it will be permanently removed from the network. Flagging an ad does not require a deposit and does not earn rewards.</p>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">Voting</h2>
					</div>
					<div class="panel-body">
						<p>As soon as a vote is called, voters receive an email request containing a link. The link takes you to the AdHash Voting Platform where the voting process takes place:</p>
						<img src="<?php echo SITE_URL; ?>/static/images/pages/user-voting.png" alt="User voting" id="user-voting" />
						<p>Links are active for 30 minutes before they expire.</p>
						<p>The voting process is binary - you can select one answer among two possible: "For" or "Against". All votes weigh equally. For a proposal to be approved, two-third of the voters must vote "For". The system is designed to demonstrated a sufficient level of support before a proposal is enacted.</p>
						<p>The outcome of each vote is recorded on the blockchain and changes are effected immediately. You will receive an email notifying you of the result, your voting reward, and your new rank.</p>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">How voters are selected (voting ranks)</h2>
					</div>
					<div class="panel-body">
						<p>Every time a vote is triggered, 80 voters are elected to participate. The selection process is in part randomised, to allow opportunities for everyone to participate, and in part contingent on the rank of each voter.</p>
						<p>Voters with higher voting ranks are more likely to be elected than voters with lower voting ranks. The ranking system is designed to encourage participation based on merit so that those contributing in a meaningful way can have more opportunities to do so.</p>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">What determines the rank</h2>
					</div>
					<div class="panel-body">
						<p>Ranks are based on a point system. Each newly registered voter begins with 25 points. Points are added for correct votes and subtracted for incorrect votes.</p>
						<img src="<?php echo SITE_URL; ?>/static/images/pages/rank-scale.png" alt="Rank scale" id="rank-scale" />
						<p class="mb-30px">A vote is considered correct when it corresponds with the final verdict, and incorrect when it opposes it.</p>
						<p class="mb-30px"><b style="color: #73aa7c;">Correct vote = 1 point</b><br /><b style="color: #be532c;">Incorrect vote = -5 points</b></p>
						<p>The maximum rank is 100 points. Once reached, you start tokenising each additional ranking point. For every additional point beyond 100, you receive the equivalent amount of tokens to what a publisher mints per click. On the other hand, voters who lose all rank points are permanently disqualified from the voting system.</p>
						<p>You can check your rank in real time from your account:</p>
						<img src="<?php echo SITE_URL; ?>/static/images/pages/voting-rank.png" alt="Voting rank" id="voting-rank" />
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">Rewards</h2>
					</div>
					<div class="panel-body">
						<p>Voters and participants who initiate votes perform a crucial function. They ensure the quality, security, and growth of the AdHash ecosystem. For this reason, they are rewarded with AD tokens.</p>
						<p>Earnings are transferred to their wallets biweekly. The amount accumulated in this two-week period also serves as their stake in the AdHash Voting System and may be withheld in the event of a policy breach.</p>
						<p>Voters are rewarded purely on the amount of honest work done, so the more correct votes they register, the more they earn. A voter’s reward is equal to the total amount of funds accumulated in the Rewards Pool divided by the total number of correct votes over a period of 14 days, and multiplied by the number of correct votes of that voter.</p>
						<img src="<?php echo SITE_URL; ?>/static/images/pages/equation-votingreward.jpg" alt="Equation votingreward" id="equation-votingreward" />
						<p>The Rewards Pool consists of confiscated deposits and the amount of funds available may vary from period to period. Those who initiate votes by signalling an issue also earn rewards for their valuable contribution. The reward is ten times the current amount of tokens earned by a publisher per click.</p>
						<p class="mb-30px">The AdHash Voting System is designed to harness the extraordinary capacity of the community to create value. We firmly believe that a vibrant and decentralised community of incentivised participants can provide a more effective, democratic, and self-sustaining governance than any centralised corporate structure. For those compelled by the idea, we invite you to join in!</p>
						<a href="<?php echo SITE_URL; ?>/site/join-form/voter.html" target="_blank" class="btn btn-primary form-page-open">
							<span>Get Started</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		headerParallaxInit();
	</script>
</section>