<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="description" content="<?php echo $description; ?>" />
	<meta name="keywords" content="<?php echo $keywords; ?>" />
	<meta name="author" content="<?php echo $author; ?>" />
	<meta property="og:url" content="<?php echo SITE_URL; ?>" />
	<meta property="og:title" content="<?php echo $title; ?>" />
	<meta property="og:description" content="<?php echo $description; ?>" />
	<meta property="og:image" content="<?php echo SITE_URL; ?>/static/images/adhash-thumbnail.png" />
	<meta name="twitter:site" content="<?php echo SITE_URL; ?>" />
	<meta name="twitter:title" content="<?php echo $title; ?>" />
	<meta name="twitter:description" content="<?php echo $description; ?>" />
	<meta name="twitter:image" content="<?php echo SITE_URL; ?>/static/images/adhash-thumbnail.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title><?php echo $title; ?></title>
	<link rel="icon" href="<?php echo SITE_URL; ?>/static/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="<?php echo SITE_URL; ?>/static/css/site/main.min.css?v=<?php echo VERSION; ?>" />
	<script src="<?php echo SITE_URL; ?>/static/scripts/jquery-3.3.1.min.js"></script>
	<script src="<?php echo SITE_URL; ?>/static/scripts/jquery.visible.min.js"></script>
	<script src="<?php echo SITE_URL; ?>/static/scripts/bootstrap.min.js"></script>
	<script src="<?php echo SITE_URL; ?>/static/scripts/TweenMax.min.js"></script>
	<script src="<?php echo SITE_URL; ?>/static/scripts/site/main.min.js?v=<?php echo VERSION; ?>"></script>
	<script>
		var enableMenuAjax = true;
		var enableFormAjax = true;
		var bVideoBlob = true;
		var enableHeaderParallax = true;
		var SITE_URL = '<?php echo SITE_URL; ?>';
	</script>
</head>